<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{wall.location}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      Longitude: {{wall.longitude}} <br>
      Latitude: {{wall.latitude}} <br>
      Minimum Height: {{wall.minHeight}} <br>
      Maximum Height: {{wall.maxHeight}} <br>
      Length: {{wall.length}}

    
    </p>
    <a href="#" class="card-link">Update Wall</a>
    <a href="#" class="card-link">Delete Wall</a>
  </div>
</div>
