<div class="col-4">
<form #wallAdd="ngForm" (ngSubmit)="addWall()">
  <h2 class="text-center text-primary">Add Wall to Database</h2>
  <hr>

  <div class="form-group">
    <input type="number" class="form-control" required name='latitude' [(ngModel)]="model.latitude" min="-90" max="90" placeholder="Latitude">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name='longitude' [(ngModel)]="model.longitude" min="-180" max="180" placeholder="Longitude">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name='location' [(ngModel)]="model.location" placeholder="Location">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name='maxHeight' [(ngModel)]="model.maxHeight" placeholder="Maximum Height">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name='minHeight' [(ngModel)]="model.minHeight" placeholder="Minimum Height">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" required name='length' [(ngModel)]="model.length" placeholder="Length">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Add</button>
    <button class="btn btn-default" type="button">Cancel</button>
  </div>


</form>
</div>